<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blockchain.server.user.mapper.UserReplyMapper">
    <resultMap id="UserReplyMap" type="com.blockchain.server.user.dto.UserReplyDTO">
        <result property="id" column="id"/>
        <result property="userOpenId" column="user_open_id"/>
        <result property="userName" column="username"/>
        <result property="content" column="content"/>
        <result property="createTime" column="create_time"/>
        <result property="modifyTime" column="modify_time"/>
        <result property="suggestion" column="suggestion"/>
    </resultMap>

    <select id="listAll" resultMap="UserReplyMap">
        select ur.*, us.text_suggestion AS suggestion
        from dapp_u_user_reply ur left join dapp_u_user_suggestions us on ur.suggestion_id = us.id
        <where>
            <if test="userName != null and userName != ''"> and ur.username like concat(#{userName}, '%')</if>
        </where>
        ORDER BY ur.create_time DESC
    </select>

</mapper>