<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blockchain.server.otc.mapper.AdHandleLogMapper">

    <sql id="table">otc_ad_handle_log</sql>

    <resultMap id="AdHandleLogMap" type="com.blockchain.server.otc.entity.AdHandleLog">
        <id property="id" column="id"/>
        <result property="adNumber" column="ad_number"/>
        <result property="afterStatus" column="after_status"/>
        <result property="createTime" column="create_time"/>
        <result property="ipAddress" column="ip_address"/>
        <result property="beforeStatus" column="before_status"/>
        <result property="sysUserId" column="sys_user_id"/>
    </resultMap>

    <resultMap id="AdHandleLogDTOMap" type="com.blockchain.server.otc.dto.adhandlelog.ListAdHandleLogResultDTO">
        <id property="id" column="id"/>
        <result property="adNumber" column="ad_number"/>
        <result property="afterStatus" column="after_status"/>
        <result property="createTime" column="create_time"/>
        <result property="ipAddress" column="ip_address"/>
        <result property="beforeStatus" column="before_status"/>
        <result property="sysUserId" column="sys_user_id"/>
    </resultMap>

    <select id="listAdHandleLog" resultMap="AdHandleLogDTOMap">
        SELECT * FROM
        <include refid="table"/>
        <where>
            <if test="adNumber != null and adNumber != ''">
                ad_number = #{adNumber}
            </if>
            <if test="beginTime != null and beginTime != ''">
                AND DATE_FORMAT(#{beginTime},'%Y-%m-%d') &lt;= DATE_FORMAT(create_time,'%Y-%m-%d')
            </if>
            <if test="endTime != null and endTime != ''">
                AND DATE_FORMAT(#{endTime},'%Y-%m-%d') &gt;= DATE_FORMAT(create_time,'%Y-%m-%d')
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

</mapper>