<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blockchain.server.otc.mapper.AppealDetailMapper">

    <sql id="table">otc_appeal_detail</sql>

    <resultMap id="AppealDetailMap" type="com.blockchain.server.otc.entity.AppealDetail">
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="appealRole" column="appeal_role"/>
        <result property="remark" column="remark"/>
        <result property="appealId" column="appeal_id"/>
        <result property="userId" column="user_id"/>
    </resultMap>

    <resultMap id="AppealDetailDTOMap" type="com.blockchain.server.otc.dto.appealdetail.ListAppealDetailResultDTO">
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="appealRole" column="appeal_role"/>
        <result property="remark" column="remark"/>
        <result property="appealId" column="appeal_id"/>
        <result property="userId" column="user_id"/>
    </resultMap>

    <select id="listAppealDetailByAppealId" resultMap="AppealDetailDTOMap">
        SELECT * FROM
        <include refid="table"/>
        WHERE appeal_id = #{appealId}
        ORDER BY create_time DESC
    </select>

</mapper>